/* .header .nav-list .nav-list-ele {
    @apply flex h-[60px] items-center text-white font-medium relative cursor-pointer mx-[15px] my-0;
} */

.top {
    background: #00000040;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    @apply translate-y-0
}
.show {
    background-color: rgba(255, 24, 24, 0.943);
}
.hide {
    transform: translateY(-60px);
}